@model DocManager.Core.EmbarquesViewModel
<div class="modal fade" id="AddUpdateModelPopup" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">×</button>
                <h4 class="modal-title" id="AddUpdateModelLabel">Update Records</h4>
            </div>
            <div class="modal-body">

                @using (Html.BeginForm("AddClients", "Embarques", FormMethod.Post))
                {
                    @Html.AntiForgeryToken()

                <div class="form-horizontal">
                    <h4>Embarques</h4>
                    <hr />
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    @Html.HiddenFor(model => model.EmbarqueId)

                    <div class="form-example-int">

                        <div class="form-group">
                            <label for="exampleInputPassword1">Clientes</label><br />
                            @foreach (var item in this.ViewBag.AccountsId)
                            {
                                <input type="checkbox" id="SelectedMultiAccountId[]" name="SelectedMultiAccountId" value="@item.Value" />
                                <label for="optionId">@item.Text</label>
                                <br />
                            }
                        </div>
                    </div>
                </div>
                }
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="btnUpdateteacher" onclick="return AddClients();">Add Files</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
