
@{
    Layout = null;
}

<!doctype html>
<html class="no-js" lang="">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>DocManager | Demo</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    @Html.Partial("_css")
</head>

<body>
    @Html.Partial("_AdminHeader")
    @Html.Partial("_MobileMenu")
    @Html.Partial("_AdminMainMenu")


    @RenderBody()


    @Html.Partial("_Footer")
    @Html.Partial("_scripts")
    <script type="text/javascript">



        function OpenAddPopupClients(Id) {
            $.ajax({
                url: '/Embarques/LoadaddClientsPopup?EmbarqueId=' + Id,
                contentType: 'application/html; charset=utf-8',
                type: 'GET',
                dataType: 'html',
                success: function (result) {
                    $('#divcontent').empty();
                    $('#divcontent').html(result);
                    $('#AddUpdateModelPopup').modal('show');
                },
                error: function (xhr, status) {
                    alert(status);
                }
            })
        }

        //Add Data Function
        function AddClients() {


            var ClientsObj = {
                EmbarqueId: $('#EmbarqueId').val(),
                Cuentas: $('#SelectedMultiAccountId').val(),


            };
            $.ajax({
                url: "/Embarques/AddClients",
                data: JSON.stringify(ClientsObj),
                type: "POST",
                contentType: "application/json;charset=utf-8",
                dataType: "json",
                success: function (result) {
                    //populate table with new record

                    $('#AddUpdateModelPopup').modal('hide');
                },
                error: function (errormessage) {
                    alert(errormessage.responseText);
                }
            });
        }



        function OpenAddPopupImages(Id) {
            $.ajax({
                url: '/Embarques/LoadaddFilesPopup?EmbarqueId=' + Id,
                contentType: 'application/html; charset=utf-8',
                type: 'GET',
                dataType: 'html',
                success: function (result) {
                    $('#divcontent').empty();
                    $('#divcontent').html(result);
                    $('#AddUpdateModelPopup').modal('show');
                },
                error: function (xhr, status) {
                    alert(status);
                }
            })
        }

        function OpenUpdatePopup(Id) {
            $.ajax({
                url: '/Embarques/LoadEditReceiptPopup?EmbarqueId=' + Id,
                contentType: 'application/html; charset=utf-8',
                type: 'GET',
                dataType: 'html',
                success: function (result) {
                    $('#divcontent').empty();
                    $('#divcontent').html(result);
                    $('#AddUpdateModelPopup').modal('show');
                    //$('#btndivuserguidemodel').trigger('click');
                },
                error: function (xhr, status) {
                    alert(status);
                }
            })
        }


        //Add Data Function
        function AddFiles() {


            var FilesObj = {
                EmbarqueId: $('#EmbarqueId').val(),
                files: $('#files').val(),
            };


            var fileUpload = $("#files").get(0);
            var files = fileUpload.files;

            // Create FormData object
            var fileData = new FormData();

            // Looping over all files and add it to FormData object
            for (var i = 0; i < files.length; i++) {
                fileData.append(files[i].name, files[i]);
            }

            // Adding one more key to FormData object
            fileData.append('EmbarqueId', $('#EmbarqueId').val());




            $.ajax({
                url: "/Embarques/AddFiles",
                data: fileData,
                type: "POST",
                contentType: false, // Not to set any content header
                processData: false, // Not to process data

                success: function (result) {
                    //populate table with new record
                    window.location.href = result.redirectToUrl;
                    $('#AddUpdateModelPopup').modal('hide');
                },
                error: function (errormessage) {
                    alert(errormessage.responseText);
                }
            });
        }

        //function for updating Patient record
        function UpdateReceipt() {
            var res = ValidateForm();
            if (res == false) {
                return false;
            }
            var EmbarqueObj = {
                EmbarqueId: $('#EmbarqueId').val(),
                Referencia: $('#Referencia').val(),
                FechaArribo: $('#FechaArribo').val(),
                Origen: $('#Origen').val(),
                Destino: $('#Destino').val(),
                CantidadContainers: $('#CantidadContainers').val(),
                Mercancia: $('#Mercancia').val(),
                StatusId: $('#StatusId').val(),
            };
            if (!EmbarqueObj.EmbarqueId || EmbarqueObj.EmbarqueId <= 0) {
                alert("Invalid Id!");
                return false;
            }
            var headers = { __RequestVerificationToken: $('input[name="__RequestVerificationToken"]').val() };

            $.ajax({
                url: "/Embarques/Edit",
                headers: headers,
                data: JSON.stringify(EmbarqueObj),
                type: "POST",
                contentType: "application/json;charset=utf-8",
                dataType: "json",
                success: function (result) {
                    //BindteacherData();
                    swal(
                        "Sccess!",
                        "Your note has been saved!",
                        "success"
                    )
                    window.location.href = result.redirectToUrl;
                },
                error: function (errormessage) {
                    alert(errormessage.responseText);
                }
            });
        }


        //function for deleting Teacher's record
        function DeleteFileReceipt(ID) {
            var ans = confirm("Are you sure you want to delete?");
            if (ans) {
                $.ajax({
                    url: "/Embarques/Delete?id=" + ID,
                    type: "POST",
                    contentType: "application/json;charset=UTF-8",
                    dataType: "json",
                    success: function (result) {
                        window.location.href = result.redirectToUrl;
                    },
                    error: function (errormessage) {
                        alert(errormessage.responseText);
                    }
                });
            }
        }

        function ValidateForm() {
            var isValid = true;
            if ($('#Referencia').val().trim() == "") {
                $('#Referencia').css('border-color', 'Red');
                isValid = false;
            }
            else {
                $('#Referencia').css('border-color', 'lightgrey');
            }
            if ($('#FechaArribo').val().trim() == "") {
                $('#FechaArribo').css('border-color', 'Red');
                isValid = false;
            }
            else {
                $('#FechaArribo').css('border-color', 'lightgrey');
            }
            if ($('#Origen').val().trim() == "") {
                $('#Origen').css('border-color', 'Red');
                isValid = false;
            }
            else {
                $('#Origen').css('border-color', 'lightgrey');
            }
            if ($('#Destino').val().trim() == "") {
                $('#Destino').css('border-color', 'Red');
                isValid = false;
            }
            else {
                $('#Destino').css('border-color', 'lightgrey');
            }



            return isValid;
        }
    </script>
</body>

</html>