
@{
    Layout = null;
}

<!doctype html>
<html class="no-js" lang="">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>DocManager | Demo</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    @Html.Partial("_css")
</head>

<body>
    @Html.Partial("_AdminHeader")
    @Html.Partial("_MobileMenu")
    @Html.Partial("_MainMenu")


    @RenderBody()


    @Html.Partial("_Footer")
    @Html.Partial("_scripts")
    
</body>

</html>